.logo-img {
  max-width: 100%;
  height: 3vw; /* 使用相對單位讓高度根據視窗寬度變化 */
}

@media (max-width: 768px) {
  .logo-img {
      height: 10vw; /* 在平板或更小裝置上調整高度 */
  }
}

@media (max-width: 480px) {
  .logo-img {
      height: 8vw; /* 在手機或更小裝置上進一步調整高度 */
  }
}


/* 基本的 navbar 設計，讓背景顏色為淺色，並讓 nav-link 間有適當的間距 */
.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 1.1rem;
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease; /* 為所有效果加上平滑過渡 */
  border-bottom: 2px solid transparent; /* 加上底線來作為指示 */
}

/* 當滑鼠懸停時，放大並加粗字體，變換背景顏色及文字顏色 */
.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #000;
  transform: scale(1.1); /* 放大效果 */
  font-weight: bold; /* 加粗字體 */
  border-bottom: 2px solid #fff; /* 懸停時底線變成白色 */
}

/* 針對行動裝置進行 RWD 調整 */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-link {
    padding: 12px;
    width: 100%;
    text-align: center;
  }
}
