.App {
  text-align: center;
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('/src/css/YuPearl-Medium.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', '標楷體','微軟正黑體','新細明體';
}
